@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /* purgecss start ignore */
  .vm--container {
    @apply fixed inset-0 flex items-center justify-center;
  }
  .vm--overlay {
    @apply fixed inset-0 bg-black bg-opacity-50;
  }
  .vm--modal {
    z-index: 9999;
    top: unset !important;
    right: unset !important;
    bottom: unset !important;
    left: unset !important;
    width: unset !important;
    height: unset !important;
  }

  .contact-select .vs__dropdown-toggle {
    @apply w-full px-2 py-2 mb-1 leading-tight text-gray-700 bg-gray-200 border border-gray-300 rounded appearance-none focus:outline-none focus:bg-white;
  }
  .contact-select.has-error .vs__dropdown-toggle {
    @apply border-red-500;
  }
  .vs__search {
    z-index: unset !important;
  }
  .router-link-exact-active:not(.no-indicator) {
    @apply bg-blue-300 hover:text-white;
  }

  /* purgecss end ignore */
}
